.input {
    width: 100%;
    padding: 10px 20px;
    margin: 5px 0;
    background: #23272D;
    border-radius: 5px;
    color: white;
    outline: none;
    border: none;
}


::placeholder {
    color: white;
    opacity: 0.5;
    font-size: 13px;
    letter-spacing: 0.3px;
}
