.login__form {
    color: white;
    text-align: center;
    font-size: 22px;
    margin-bottom: 15px;
    font-family: "Yu Gothic UI Semibold";
    opacity: 0.9;
}
form {
    display: flex;
    flex-direction: column;
}

.login__btn {
    padding: 8px 12px;
    margin-top: 10px;
    opacity: 0.8;
    background: none;
    border: 1px solid gray;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    transition: opacity 0.1s linear;
}

.login__btn:hover {
    opacity: 1;
}

.login__btns {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}