* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr{
    opacity: 0.5;
}

.header {
    width: 100%;
    height: 60px;
    background: #23272D;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 0 30px;
}

.span__username {
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Yu Gothic UI";
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar__btns {
    margin-right: -30px;
}

